<div class="full-width" fxLayout="row" fxLayoutAlign="start center">
		<p class="Product-List">Product List</p>
</div>
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-around start">
	<div fxFlex="67">
		<table class="full-width productTable">
			<tr>
				<th class="clickable" (click)="sort('name')">
					<span>Product Name</span>
					<span *ngIf="currentSort?.column == 'name' && !currentSort?.ascending" class="up-arrow"></span>
					<span *ngIf="currentSort?.column == 'name' && currentSort?.ascending" class="down-arrow"></span>
				</th>
				<th class="clickable side-borders" (click)="sort('price')">
					<span>Price</span>
					<span *ngIf="currentSort?.column == 'price' && !currentSort?.ascending" class="up-arrow"></span>
					<span *ngIf="currentSort?.column == 'price' && currentSort?.ascending" class="down-arrow"></span>
				</th>
				<th class="clickable" (click)="sort('category')">
					<span>Category</span>
					<span *ngIf="currentSort?.column == 'category' && !currentSort?.ascending" class="up-arrow"></span>
					<span *ngIf="currentSort?.column == 'category' && currentSort?.ascending" class="down-arrow"></span>
				</th>
			</tr>
			<tr *ngFor="let row of defaultData">
				<td>
					{{ row.name }}
				</td>
				<td>
					${{ row.price }}
				</td>
				<td>
					{{ row.category }}
				</td>
				
			</tr>
		</table>

		<div *ngIf="loadingData" class="full-width" fxLayout="row" fxLayoutAlign="center center">
			<mat-spinner></mat-spinner>
		</div>
	</div>

	 <div fxLayout="column" fxLayoutAlign="start center" fxFlex="33">
		<form 
			(ngSubmit)="onSubmit(productForm)" 
			[formGroup]="productForm"
			class="new-product-form" 
			fxLayout="column" 
			fxLayoutAlign="space-between start" 
			id="new-product-form"
		>
			<p class="form-title">Add New Product</p>

			<div class="input-container" fxLayout="column" fxLayoutAlign="center start">
				<label for="name">Product Name</label>
				<input 
					type="text" 
					name="name" 
					id="name" 
					required 
					placeholder="Enter Product Name"
					formControlName="name"
				>
				<div *ngIf="name.invalid && (name.dirty || name.touched)" class="full-width center">
					<span class="warning-text" *ngIf="name.errors.required">Product Name is required.</span>
				</div>
			</div>

			<div class="input-container" fxLayout="column" fxLayoutAlign="center start">
				<label for="price" fxLayout="column" fxLayoutAlign="center start">Price</label>
				<input 
					type="number" 
					step="0.01"
					name="price" 
					id="price" 
					required 
					placeholder="Enter Price"
					min="0" 
					formControlName="price"
				>	
				<div *ngIf="price.invalid && (price.dirty || price.touched)" class="full-width center">
					<span class="warning-text" *ngIf="price.errors.required">Price is required.</span>
					<span class="warning-text" *ngIf="price.errors.pattern">Please enter a valid price (Ex: 1.23)</span>
				</div>
			</div>

			<div class="input-container" fxLayout="column" fxLayoutAlign="center start">
				<label for="category" fxLayout="column" fxLayoutAlign="center start">Category</label>
				<input 
					type="text" 
					name="category" 
					id="category" 
					required 
					placeholder="Enter Category"
					ngModel
					matInput
					formControlName="category"
				>
				<div *ngIf="category.invalid && (category.dirty || category.touched)" class="full-width center">
					<span class="warning-text" *ngIf="category.errors.required">Category is required.</span>
				</div>
			</div>
			
			<button 
				mat-raised-button 
				type="submit" 
				[disabled]="!productForm.valid"
				[ngClass]="{'enabledButton' : productForm.valid , 'disabledButton' : !productForm.valid}"
			>
				Add Product
			</button>

		</form>

	 </div>
 </div>